python-ffmpeg==2.0.12
ffmpeg-python>=0.2.0
git+https://github.com/openai/whisper.git
PyQt5>=5.15.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.17.0
PyQt5-tools==5.15.9.3.3
numpy>=1.19.0
scipy==1.10.1
soundfile>=0.10.3
scikit-learn==1.6.1
torch>=2.0.0
torchaudio==2.6.0
ffpyplayer>=4.3.5
av>=10.0.0
opencv-python>=4.5.0
python-vlc>=3.0.0
tqdm>=4.65.0